@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 72.2% 50.6%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 50.6%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground overflow-x-hidden;
  }

  .search-input-container {
    @apply gap-2 flex sm:w-full  max-w-md items-center sm:space-x-2 bg-background rounded-full overflow-hidden border border-background;
  }

  .search-input {
    @apply flex-1 !rounded-full !border-0 !outline-none  focus-visible:!ring-0 focus-visible:!ring-transparent;
  }

  .search-input-container:has(.search-input:focus) {
    @apply ring-1 ring-primary md:ring-primary-foreground;
  }

  .search-button {
    @apply !bg-primary-foreground !rounded-full !text-primary hover:!bg-primary hover:!text-primary-foreground;
  }

  .container-fb {
    @apply max-w-screen-xl mx-auto flex justify-between items-center;
  }
  .container {
    @apply max-w-screen-xl mx-auto flex  items-center;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .logo-container {
    @apply text-2xl leading-none h-10 flex-center font-bold text-background border border-accent rounded-sm;
  }

  .logo-section-1 {
    @apply p-1 bg-background h-full flex-center text-primary;
  }

  .logo-secondary {
    @apply w-fit bg-primary overflow-hidden border border-primary logo-container;
  }

  .social-icons {
    @apply w-8 h-8 rounded-full grid place-items-center bg-primary-foreground hover:bg-primary;
  }

  .icon-link {
    @apply hover:underline hover:text-primary flex items-center gap-1;
  }

  .footer {
    @apply max-w-screen-xl mx-auto flex flex-col md:grid md:grid-cols-2 lg:grid-cols-3 gap-6 py-6;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary;
  }

  ::-webkit-scrollbar-track {
    @apply bg-primary-foreground;
  }
}

@supports (scrollbar-color: var(--first-color) var(--border-color)) {
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(0 72.2% 50.6%) hsl(0 85.7% 97.3%);
  }
}

.about {
  --img-url: url("/images/company.jpg");
  --bg: linear-gradient(to bottom, transparent, hsla(0, 83%, 5%, 0.659));
}

.home-banner {
  --img-url: url("/images/banner.jpg");
  --bg: linear-gradient(to right, #fff 35%, #ffffffb0, #ffffff69);
}

.about,
.home-banner {
  background-image: var(--bg), var(--img-url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
